* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background-color: orange;
  /* justify-content: center;
  align-items: center; */
}

section {
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
}

#section-1 {}

#section-2 {
  flex-grow: 1;
}

#section-3 {
  flex-grow: 1;
}

#section-4 {
  flex-basis: 200px;
}

#section-5 {
  order: -1;
}